<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NodeDao">

	<resultMap id="nodeResult" type="Node">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="createTime" column="createTime" />
	</resultMap>

	<insert id="create">
		insert into MEDIA_NODE (id,parentId,name,createTime) values (#{id},#{parentId}, #{name}, now())
	</insert>

	<delete id="delete">
		delete from MEDIA_NODE where id = #{id}
	</delete>

	<update id="update">
		update MEDIA_NODE set parentId = #{parentId}, name = #{name} where id = #{id} 
	</update> 

	<select id="countChildren" resultType="Integer">
		select count(1) from MEDIA_NODE where parentId = #{id}
	</select>

	<select id="findById" resultType="Node">
		select id, name, createTime from MEDIA_NODE where id = #{id}
	</select>
	
	<select id="findChildren" resultMap="nodeResult">
		select id, name, createTime from MEDIA_NODE where parentId = #{id}
	</select>
	
	<select id="findByName" resultType="Node">
		select * from MEDIA_NODE where name = #{name}
	</select>
	
</mapper>