<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NodeDao">

	<resultMap id="nodeResult" type="Node">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="createTime" column="createTime" />
	</resultMap>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into Node (parentId,name,createTime) values (#{parentId}, #{name}, now())
	</insert>

	<delete id="delete">
		delete from Node where id = #{id}
	</delete>

	<update id="update">
		update Node set parentId = #{parentId}, name = #{name} where id = #{id} 
	</update> 

	<select id="countChildren" resultType="int">
		select count(*) from Node where parentId = #{id}
	</select>

	<select id="findById" resultType="Node">
		select id, name, createTime from Node where id = #{id}
	</select>
	
	<select id="findByParentIdAndName" resultType="Node">
		select id, name, createTime from Node where parentId != #{id} and name = #{name}
	</select>

	<select id="findChildren" resultMap="nodeResult">
		select id, name, createTime from Node where parentId = #{id}
	</select>
	
	<select id="findByName" resultType="Node">
		select * from Node where name = #{name}
	</select>
	
</mapper>