<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ResourceDao">

	<resultMap id="resourceResult" type="Resource">
		<id property="id" column="id" />
		<result property="type" column="type" />
		<result property="name" column="name" />
		<result property="keyWord" column="keyWord" />
		<result property="createTime" column="createTime" />
	</resultMap>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into Resource (nodeId,type,name,keyWord,createTime) values (#{nodeId}, #{type}, #{name},#{keyWord}, now())
	</insert>

	<delete id="delete">
		delete from Resource where id = #{id}
	</delete>

	<update id="update">
		UPDATE RESOURCE 
		<set>
			<if test="nodeId != null">
				nodeId = #{nodeId},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="keyWord !=null ">
				keyWord = #{keyWord},
			</if>
		</set> 
		WHERE ID = #{id}
	</update>

	<select id="countByNodeId" resultType="int">
		select count(*) from Resource where nodeId = #{nodeId}
	</select>
	
	<select id="find" resultMap="resourceResult">
		<bind name="namePattern" value="'%' + _parameter.getName() + '%'" />
		SELECT DISTINCT R.ID, R.TYPE, R.NAME, R.KEYWORD, R.CREATETIME FROM RESOURCE R,
		RESOURCETAG RT,TAG T 
		<where>
			<if test="nodeId != null and nodeId !='' ">
				R.NODEID = #{nodeId}
			</if>
			<if test="type != null and type !='' ">
				AND R.TYPE = #{type}
			</if>
			<if test="name != null  and name !='' and name.trim()!=''">
				AND R.NAME LIKE #{namePattern}
			</if>
			<if test="startTime != null and endTime != null and startTime.toString().trim()!='' and endTime.toString().trim()!=''">
				AND R.CREATETIME BETWEEN #{startTime} AND #{endTime}
			</if>
			<if test="tag != null and tag!='' and tag.trim()!=''">
				AND R.ID = RT.RESOURCEID
				AND T.ID = RT.TAGID
				AND T.NAME = #{tag}
			</if>
		</where>
	</select>
	
</mapper>