<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ResourceTagDao">

	<insert id="create">
		insert into MEDIA_RESOURCETAG (id,resourceId,tagId,createTime) values (#{id},#{resourceId}, #{tagId}, now())
	</insert>

	<delete id="deleteByResourceId">
		delete from MEDIA_RESOURCETAG where resourceId = #{resourceId}
	</delete>
	
	<select id="findByResourceId">
		select id from MEDIA_RESOURCETAG where resourceId =#{resourceId}
	</select>
	
</mapper>