<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ResourceDao">

	<resultMap id="resourceResult" type="Resource">
		<id property="id" column="id" />
		<result property="nodeId" column="nodeId"/>
		<result property="type" column="type" />
		<result property="name" column="name" />
		<result property="keyWord" column="keyWord" />
		<result property="createTime" column="createTime" />
	</resultMap>

	<insert id="create">
		insert into media_resource (id,nodeId,type,name,keyWord,bucket,createTime) values (#{id},#{nodeId}, #{type}, #{name},#{keyWord},#{bucket},now())
	</insert>

	<delete id="delete">
		delete from media_resource where id = #{id}
	</delete>

	<update id="update">
		update media_resource 
		<set>
			<if test="nodeId != null">
				nodeId = #{nodeId},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="keyWord !=null ">
				keyword = #{keyWord},
			</if>
			<if test="bucket !=null" >
				bucket = #{bucket},
			</if>
		</set> 
		where id = #{id}
	</update>

	<select id="countByNodeId" resultType="Integer">
		select count(1) from media_resource where nodeId = #{nodeId}
	</select>
	
	<select id="find" resultMap="resourceResult">
		<bind name="namePattern" value="'%' + _parameter.getName() + '%'" />
		select distinct r.id,r.nodeid, r.type, r.name, r.keyword,r.bucket, r.createtime from media_resource r
		<where>
			<if test="nodeId != null and nodeId !='' ">
				r.nodeid = #{nodeId}
			</if>
			<if test="type != null and type !='' ">
				and r.type = #{type}
			</if>
			<if test="name != null  and name !='' and name.trim()!=''">
				and r.name like #{namepattern}
			</if>
			<if test="startTime != null and endTime != null and startTime.toString().trim()!='' and endTime.toString().trim()!=''">
				and r.createtime between #{starttime} and #{endtime}
			</if>
			<if test="tag != null and tag!='' and tag.trim()!=''">
				and r.id in (select resourceid from media_resourcetag where tagid in(select id from media_tag where name = #{tag}))
			</if>
		</where>
	</select>
	
	<select id="findById" resultType="Resource">
		select id,nodeid,type,name,keyword,bucket,createtime from media_resource where id = #{id}
	</select>
	
	<insert id="createUploadMsg" >
		insert into media_upload (uploadId,status,initPath,type,createTime) values (#{uploadId},#{status},#{initPath},#{type},now())
	</insert>
	
	<select id="findUploadMsgById" resultType="UploadMsgResult">
		select uploadId,status,initPath,type,createTime from media_upload where uploadId = #{uploadId}
	</select>
	
	<update id="updateUploadMsgById">
		update media_upload set status = #{status} where uploadId = #{uploadId}
	</update>
</mapper>