<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TagDao">

	<resultMap id="TagResult" type="Tag">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="createTime" column="createTime" />
	</resultMap>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into Tag values (#{name}, sysdate)
	</insert>

	<select id="findByName" resultType="Tag">
		select id, name, createTime from Tag where name = #{name}
	</select>
	
</mapper>